    <!-- ##### Sponsor Area Start ##### -->
    <div class="col-md-12 text-center">
     <h3>Hoofdsponsoren</h3>
    </div>
    <div class="brands-area d-flex align-items-center justify-content-between">
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <a href="https://netwerknotarissen.nl/kantoren/benschop-sterling-netwerk-notarissen"><img src="img/benschop-en-sterling.png" alt=""></a>
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <a href="https://www.tbp.nl/"><img src="img/tbp.png" alt=""></a>
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <a href="https://goereeoverflakkee.lions.nl/"><img src="img/lions.png" alt=""></a>
        </div>
    </div>
    <!-- ##### Sponsor Area End ##### -->
