
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <ximg src="img/bg-img/bg-8.jpg" alt="">
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>Over de Kunstveiling</h2>
                            <p>
								Op 11 mei a.s. organiseert Lionsclub Goeree-Overflakkee een veiling van beeldende kunst.
							</p><p>
								De opbrengst is bestemd voor de goede doelen van de club: het cultureel steunfonds Paul van Hessen en de Stichting Vakantiewoning voor gehandicapten.
							</p><p>								
								De Lions Club heeft lokale en ( inter -) nationale kunstenaars, zoals 
								Charles Becker, Corneille, Dolieslager, Jaap Hartman, Anton Heijboer, Harald Jasssoy, 
								Roy Liechtenstein en Ton Pret, evenals particulieren, bereid gevonden om kunstwerken 
								voor deze bijzondere veiling in te brengen.<br />
								Onlangs zijn daar nog werken van de Haagsche School en originele foto's van de Beatles aan toegevoegd!
							</p>

                            <blockquote>
                                <h6><i class="fa fa-quote-left" aria-hidden="true"></i>Kunst voor goede doelen maakt de wereld een beetje mooier: where there is a need, there is a Lion </h6>
                                <span>Lions Club</span>
                            </blockquote>

                            <p>
								De opzet van de veiling zal in ieder geval zo zijn dat er voor iedere kunstliefhebber, met grote of kleine beurs, werken zullen worden geveild.
								Er wordt tevens een fraaie, genummerde, veilingcatalogus uitgebracht en onder de verkochte nummers zal een kunstwerk worden verloot!<br />
								Mocht U een catalogus willen reserveren en ook voor andere vragen, kunt U contact opnemen via: <a href="mailto:goeree.overflakkee@lions.nl">goeree.overflakkee@lions.nl</a>.
							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->
