
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <ximg src="img/bg-img/bg-8.jpg" alt="">
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>Hoe werkt de veiling ?</h2>
							<p>
							Voor de  kunstwerken welke door kunstenaars en particulieren zijn ingebracht, is door de inbrenger 
							een basisprijs vastgesteld. Bij de vaststelling van deze prijs heeft men wel rekening gehouden met 
							de beoogde de &ldquo;<a href="doel.html">goede doelen</a>&rdquo;. Daarnaast heeft de veilingcomissie van de Lions Club 
							getracht kwantiteit en kwaliteit te bewaken.<br />

							De basisprijs vormt de inzet bij de veiling, tenzij eerder reeds een hoger schriftelijk bod is 
							uitgebracht. In dat geval zal dit hogere bod als inzetprijs gehanteerd worden.<br />

							Wordt een item verkocht dan ontvangt de inbrenger het door haar/hem eerder vastgestelde basisbedrag. 
							Het meerdere, inclusief 10% opgeld voor rekening van de koper, komt geheel ten goede aan de eerder 
							de twee &ldquo;<a href="doel.html">goede doelen</a>&ldquo; van de Lions Club.<br />

							Op deze veiling zijn de 
							&ldquo;<a href="assets/Kunstveiling-LC-Algemene-Voorwaarden.pdf">Algemene Veiling Voorwaarden</a>&rdquo; 
							van toepassing, zoals deze van deze site zijn te downloaden.
							Deze voorwaarden worden bij partijen als bekend en akkoord verondersteld.
							</p>
                            <h2>Samenvatting?</h2>
							 <p>
							 Hierna treft U een samenvatting aan van de belangrijkste Algemene Veiling Voorwaarden (AVV).
							 Deze samenvatting vervangt de AVV evenwel niet.
							 </p>
							 <h3>Bieden en aansprakelijkheid</h3>
<ul>
 <li> De koper kan in persoon bieden. Het is mogelijk schriftelijk te bieden vóór aanvang der veiling.</li>
 <li> De koper dient zich op eerste verzoek van de veilinghouder te legitimeren.</li>
 <li> Omschrijvingen in de catalogus en alle schriftelijke en mondelinge mededelingen worden naar eer en beste weten verstrekt.</li>
 <li> De koper dient voor de koop de staat en beschrijving van een voorwerp in de catalogus nauwkeurig en naar eigen genoegen te inspecteren.</li>
 <li> De veilinghouder kan niet aansprakelijk gehouden worden voor de juistheid van de beschrijving in de catalogus.</li>
 <li> De veilinghouder aanvaardt geen enkele aansprakelijkheid voor onjuiste omschrijvingen zoals vermeld in art.6 van de Algemene Verkoopvoorwaarden welke ter inzage liggen.</li>
</ul>

<h3>Kopen</h3>
<ul>
 <li> De koop komt tot stand bij definitieve toewijzing.</li>
 <li> Het bedrag waarvoor de kavel is afgeslagen en aan de bieder is toegewezen, wordt vermeerderd met 10 % veilingkosten en eventuele kosten voortkomend uit het volgrecht.</li>
 <li> Onmiddellijk na toewijzing is het gekochte voor rekening en risico van de koper.</li>
 <li> Betaling geschiedt contant of via een bankcontact. </li>
 <li> Bankkosten voortvloeiend uit betaling middels een creditkaart, worden bij de koper in rekening gebracht. Cheques worden niet geaccepteerd.</li>
</ul>
<h3>Afhalen goederen</h3>
<ul>
 <li> De koper is verplicht de gekochte goederen binnen een termijn van 3 werkdagen af te halen. De veilinghouder, de LC Goeree-Overflakkee, heeft het recht om die goederen welke niet binnen de gestelde termijn van 3 werkdagen zijn afgehaald, op te slaan voor rekening en risico van de nalatige koper.</li>
 <li> Het eigendomsrecht vervalt indien de koper na 3 maanden het gekochte niet heeft afgehaald, ongeacht of het verschuldigde aankoopbedrag is voldaan.</li>
 <li> Over de koopsom is geen BTW verschuldigd daar veilinghouder niet BTW-plichtig is</li>
</ul>
<p>
De uitgebreide <a href="assets/Kunstveiling-LC-Algemene-Voorwaarden.pdf">ALGEMENE VEILING VOORWAARDEN</a> betreffende de kunstveiling door de Lions Club Goeree-Overflakkee, zijn te downloaden worden bij partijen als bekend verondersteld.
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->
