
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <ximg src="img/bg-img/bg-8.jpg" alt="">
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>Sponsoring</h2>
                            <p>
							De organisatie van een kunstveiling door de  Lions Club Goeree-Overflakkee is een hele onderneming.
							Ondanks de belangeloze inzet van alle leden is er toch de noodzaak om in de aanloopfase financiële 
							middelen te genereren welke een deel van de onvermijdelijke kosten kunnen dekken.
							</p><p>
							Wij zijn als Lions Club dan ook bijzonder verheugd dat wij op Goeree-Overflakkkee en ook daar buiten 
							steun mogen ondervinden van bedrijven, instellingen en private personen. Zij tonen daarmee aan cultureel, 
							maatschappelijk en sociaal geëngageerd te zijn. Hun support , zowel materieel als immaterieel, is voor 
							ons onontbeerlijk om gestelde, mogelijk gedroomde, resultaten te behalen ten bate van de <a href="doel.html">goede doelen</a>
							waaraan de netto opbrengst van deze kunstveiling ten goede komt.
							</p><p>
							Immers als Lions Club proberen wij daar te helpen waar nodig en mogelijk, vanuit de gedachte: <b>We Serve!</b>
							</p><p>
							Wij willen onze sponsoren dan ook reeds op voorhand dank zeggen  voor hun onmisbare steun. En uiteraard hopen 
							wij hen ook te mogen begroeten tijdens de kijkdagen op 10 en 11 mei en de veiling, eveneens op 11 mei 2019 aanstaande.
							</p><p>
							Extra dank gaat uit naar onze hoofd sponsoren:
							</p>
							<ul>
								<li>Benschop & Sterling Netwerk Notarissen, Middelharnis en</li>
								<li>TBP Electronics, Dirksland</li>
							</ul>
							<p>
							Mocht u, uw bedrijf of uw instelling alsnog belangstelling hebben om middels sponsoring te participeren middels het plaatsen van een advertentie in de 
							veilingcatalogus, aarzel dan niet om contact op te nemen met de veilingcommissie via: <a href="mailto:info@hansdolieslager.nl?subject=Sponsoring">Hans Dolieslager</a>.
							
							Uiteraard wordt ook U dan genoemd in de media en op de website.
							</p>
                            <h2>Overige sponsoren</h2>
							<p>

Adco Logistics,
Adviesgroep de Vogel,
AH Ouddorp,
Art Gallery Voûte,
Aquality,
Berg & Berg,
Brasserie 't Vingerling,
D3L makelaardij,
De Gouden Leeuw,
Den Hollander Advocaten,
Goemaat galshelder,
Kranse,
Lokker & Reitsma,
Lopital BV,
Noordzeepark,
ONO Japanese Fusio Dining,
Tandartsenpraktijk Ouddorp,
Studio Architecture,
Tieleman Keukens,
Visser & Visser

							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->
	<%=render "_sponsor.html.erb"%>
