
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <ximg src="img/bg-img/bg-8.jpg" alt="">
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>Waarom deze veiling?</h2>
                            <p>
                            Fondsenwerving is voor twee &ldquo;<a href="doel.html">goede doelen</a>&rdquo; van onze Lions Club.
                            De opbrengst is bestemd voor de goede doelen van de club: Het cultureel 
                            steunfonds Paul van Hessen en de Stichting Vakantiewoning voor gehandicapten.
                            <br />
							Graag vertellen wij U in het kort iets meer over deze goede doelen:
							</p>
							<h3>Paul van Hessen Fonds</h3>
							<p>
							De stichting &ldquo;Paul van Hessen Fonds&rdquo;, een onderdeel van onze Lions Club stimuleert 
							en steunt financieel sociale en culturele activiteiten op Goeree-Overflakkee. Meer: 
							<a href="https://www.paulvanhessenfonds.nl">www.paulvanhessenfonds.nl</a>
 							</p>
							<h3>Stichting Vakantiewoning voor gehandicapten</h3>
							<p>
							Op het Noordzeepark te Ouddorp hebben wij een woning geheel aangepast voor mensen met een handicap.
							Door fondsenwerving proberen wij de huur zo laag mogelijk te houden en zodoende de financiële 
							drempel eveneens te beperken. Voor meer informatie verwijzen wij U graag naar de website: 
							<a href="https://www.leeuw-inn.nl">www.leeuw-inn.nl</a>
							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->
