
    <div class="contact-area d-flex align-items-center">
        <div class="google-map">
            <div id="googleMap"></div>
        </div>

        <div class="contact-info">
            <h2>Contact</h2>
            <h3>Wie zijn wij?</h3>
			<p>Als Lions Club, met 32 leden, maken wij deel uit van de internationale Lions organisatie, 
			vertegenwoordigd in meer dan 200 landen en met meer dan 1,45 miljoen leden.
			Voor meer informatie: <a href="https://www.goereeoverflakkee.lions.nl">www.goereeoverflakkee.lions.nl</a>
			</p>
			<h3>Wat doen wij ?</h3>
			<p>Zoals het motto “ We Serve “ zegt: hulp verlenen in de meest ruime zin van het woord, daar wat nodig 
			en gewenst is. En dit zowel door materiële als immateriële dienstverlening.
            </p>

            <div class="contact-address mt-50">
                <p><span>Bezoek adres:</span> Vlakbodem 10, Dirksland</p>
                <p><span>Telephone:</span> 0187 - 123456</p>
                <p><span>Mail:</span><a href="mailto:goeree.overflakkee@lions.nl">goeree.overflakkee@lions.nl</a></p>
            </div>
        </div>
    </div>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTjs6VCzdjsi7Gz0y2Jsm3vkQ0wp0_q9A"></script>
    <script src="js/map-active.js"></script>