
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <img src="img/bg-img/bg-8.jpg" alt="">
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>Hoe werkt de veiling ?</h2>
							<p>Door de leden is kunst verzameld, ingebracht door regionale, nationale en internationale
							kunstenaars. Het is een divers aanbod van grafiek, brons, schilderijen, glas en keramiek.
							De inbrengende kunstenaars stellen, met oog voor het goede doel, een basisprijs vast welke de
							inzet vormt bij de veiling. Wordt het werk verkocht, dan ontvangt de inbrenger het door hem/haar
							vastgestelde basis bedrag. Het meerdere, plus de 10 % opgeld, te betalen door de koper, komt
							geheel ten bate van de goede doelen. Op de veiling zijn de 
							&ldquo;<a href="assets/Kunstveiling-LC-Algemene-Voorwaarden.pdf">Algemene Veiling Voorwaarden</a>&rdquo; 
							van toepassing welke te downloaden zijn.
							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->
