
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">

        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <ximg src="img/bg-img/bg-8.jpg" alt="">
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>Over de Kunstveiling</h2>
                            <p>
								Op 11 mei a.s. organiseert Lionsclub Goeree-Overflakkee een veiling van beeldende kunst.
							</p><p>
								De opbrengst is bestemd voor de goede doelen van de club: het cultureel steunfonds Paul van Hessen en de Stichting Vakantiewoning voor gehandicapten.
								De aanbieder ontvangt het aangegeven basisbedrag, de waarde hierboven is, mede dankzij vele sponsors, volledig bestemd voor het goede doel.<br />
								De leden van de club zijn op zoek gegaan naar interessante te veilen kunstwerken en de eerste aanbreng van de kunstwerken is nu al boven alle verwachting! 
								Naast eilandelijke kunstenaars, zoals Hans Dolieslager en Harald Jassoy, worden er werken aangeboden van Roy Liechtenstein, Corneille en Heyboer. 
								Onlangs zijn daar nog drie zeer bijzonder schetsen aan toegevoegd van schilders van de Haagsche school, met als topstuk twee schetsen van Anthon Mauve.<br />
							</p>

                            <blockquote>
                                <h6><i class="fa fa-quote-left" aria-hidden="true"></i> Quisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat. Maecenas pulvinar, turpis in dictum tincidunt, dolor nibh lacinia lacus.</h6>
                                <span>Liam Neeson</span>
                            </blockquote>

                            <p>
								De opzet van de veiling zal in ieder geval zo zijn dat er voor iedere kunstliefhebber, met grote of kleine beurs, werken zullen worden aangeboden.<br />
								Als u ge&iuml;nteresseerd bent in de catalogus of ook te veilen werken wenst in te brengen, kunt u contact opnemen via: goeree.overflakkee@lions.nl.
							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->
